/* Style for "TOPO NORMAL" */
width: 1320px;
height: 211px;

/* Style for "banner" */
width: 729px;
height: 91px;

/* Style for "TOPO V2ABERTO" */
width: 1320px;
height: 80px;

/* Style for "LOGO" */
width: 187px;
height: 43px;

/* Style for "busca" */
width: 132px;
height: 32px;

/* Style for "busca" */
width: 16px;
height: 16px;
background-color: #a3a3a3;

/* Text style for "PESQUISAR" */
width: 70px;
height: 10px;
color: #a3a3a3;
font-family: Helvetica;
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;

/* Style for "Shape 8" */
width: 132px;
height: 32px;
background-color: white;

/* Style for "menu principal" */
width: 688px;
height: 18px;

/* Text style for "CARROS" */
width: 47px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow" */
width: 10px;
height: 7px;

/* Text style for "TESTES" */
width: 45px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy" */
width: 10px;
height: 7px;

/* Text style for "NOTíCIAS" */
width: 54px;
height: 14px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 2" */
width: 10px;
height: 7px;

/* Text style for "AUTO-SERVIÇO" */
width: 89px;
height: 15px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 3" */
width: 10px;
height: 7px;

/* Text style for "GUIA DE COMPRA" */
width: 132px;
height: 10px;
color: white;
font-family: Helvetica;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 4" */
width: 10px;
height: 7px;

/* Text style for "TABELA FIPE" */
width: 75px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 5" */
width: 10px;
height: 7px;

/* Text style for "assine" */
width: 43px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "fundo aberto t" */
width: 0;
height: 0;

/* Style for "TESTES" */
width: 1270px;
height: 159px;

/* Style for "Categorias lat" */
width: 124px;
height: 145px;

/* Text style for "Teste de pista" */
width: 95px;
height: 15px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Longa duração" */
width: 102px;
height: 16px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Impressões" */
width: 77px;
height: 14px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Comparativos" */
width: 95px;
height: 15px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Ver tudo de te" */
width: 124px;
height: 12px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "01" */
width: 201px;
height: 117px;

/* Style for "Layer 2" */
width: 218px;
height: 124px;

/* Text style for "Ford Focus Fas" */
width: 139px;
height: 32px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "02" */
width: 201px;
height: 117px;

/* Style for "Layer 3" */
width: 286px;
height: 161px;

/* Text style for "Audi A6 2.0 TF" */
width: 108px;
height: 12px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "03" */
width: 0;
height: 0;

/* Style for "Layer 4" */
width: 268px;
height: 150px;

/* Text style for "EcoSport ganha" */
width: 182px;
height: 51px;
color: #ed1c24;
font-family: Helvetica;
font-size: 15px;
font-weight: 400;
line-height: 20px;

/* Text style for "Ford EcoSport" */
width: 198px;
height: 15px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "04" */
width: 201px;
height: 117px;

/* Style for "Layer 5" */
width: 246px;
height: 139px;

/* Text style for "Audi Q3 1.4" */
width: 78px;
height: 14px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "05" */
width: 201px;
height: 117px;

/* Style for "Layer 6" */
width: 222px;
height: 125px;

/* Text style for "BMW 420i Cabri" */
width: 137px;
height: 12px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "arrow copy 6" */
width: 7px;
height: 10px;

/* Style for "Rectangle 73 c" */
width: 174px;
height: 151px;
background-color: #474747;

/* Style for "Rectangle 73 c" */
width: 174px;
height: 23px;
background-color: #474747;

/* Style for "Rectangle 73" */
width: 1320px;
height: 2px;
background-color: #ed1c24;

/* Style for "Shape 10 copy" */
width: 91px;
height: 87px;
background-color: #242424;

/* Style for "Rectangle 74" */
width: 1321px;
height: 210px;
background-color: #242424;

/* Style for "fundo aberto c" */
width: 0;
height: 0;

/* Text style for "Ver todos os c" */
width: 132px;
height: 12px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 35px;

/* Text style for "Lamborghini
Me" */
width: 106px;
height: 121px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "JAC Motos
Jagu" */
width: 72px;
height: 117px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "Fiat
Ford
Hond" */
width: 56px;
height: 121px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "Chrysler
Chevr" */
width: 67px;
height: 118px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "Audi
Bentley
B" */
width: 68px;
height: 118px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Style for "Layer 7" */
width: 4px;
height: 101px;

/* Style for "Shape 10 copy" */
width: 89px;
height: 87px;
background-color: #242424;

/* Style for "Rectangle 73 c" */
width: 181px;
height: 32px;
background-color: #474747;

/* Style for "Rectangle 73" */
width: 1320px;
height: 2px;
background-color: #ed1c24;

/* Style for "Rectangle 74" */
width: 1321px;
height: 162px;
background-color: #242424;

/* Style for "Rectangle 66" */
width: 1320px;
height: 80px;
background-color: #ed1c24;

/* Style for "Segundo menu" */
width: 1320px;
height: 29px;

/* Text style for "+ ACESSADOS" */
width: 79px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "Salão do autom" */
width: 116px;
height: 12px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "RENEGADE" */
width: 54px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "NOVO SANDERO" */
width: 78px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "NOVO FOX" */
width: 50px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "NOVO KA" */
width: 44px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "| A - Z |" */
width: 33px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "CIVIC" */
width: 26px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "COROLLA" */
width: 46px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "GOLF" */
width: 26px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "duster" */
width: 40px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Text style for "HB 20" */
width: 29px;
height: 9px;
color: white;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "Shape 11" */
width: 127px;
height: 28px;
background-color: #d41f1f;

/* Style for "Shape 11 copy" */
width: 127px;
height: 28px;
background-color: #242424;

/* Style for "Shape 11 copy" */
width: 127px;
height: 28px;
background-color: #d41f1f;

/* Style for "fundo segundo" */
width: 1320px;
height: 29px;
background-color: #242424;

/* Style for "TOPO COM SCROL" */
width: 1321px;
height: 194px;

/* Style for "banner" */
width: 729px;
height: 91px;

/* Style for "LOGO" */
width: 187px;
height: 43px;

/* Style for "busca" */
width: 132px;
height: 32px;

/* Style for "busca" */
width: 16px;
height: 16px;
background-color: #a3a3a3;

/* Text style for "PESQUISAR" */
width: 57px;
height: 10px;
color: #a3a3a3;
font-family: Dosis;
font-size: 12px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "Shape 8" */
width: 132px;
height: 32px;
background-color: white;

/* Style for "social" */
width: 129px;
height: 21px;

/* Style for "facebook" */
width: 8px;
height: 16px;
background-color: white;

/* Style for "twitter" */
width: 20px;
height: 16px;
background-color: white;

/* Style for "instagram" */
width: 16px;
height: 16px;
background-color: white;

/* Style for "Abril" */
width: 19px;
height: 21px;

/* Style for "youtube" */
width: 16px;
height: 16px;
background-color: white;

/* Style for "menu principal" */
width: 688px;
height: 18px;

/* Text style for "CARROS" */
width: 47px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow" */
width: 10px;
height: 7px;

/* Text style for "TESTES" */
width: 45px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy" */
width: 10px;
height: 7px;

/* Text style for "NOTíCIAS" */
width: 54px;
height: 14px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 2" */
width: 10px;
height: 7px;

/* Text style for "AUTO-SERVIÇO" */
width: 89px;
height: 15px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 3" */
width: 10px;
height: 7px;

/* Text style for "GUIA DE COMPRA" */
width: 107px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 4" */
width: 10px;
height: 7px;

/* Text style for "TABELA FIPE" */
width: 75px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "arrow copy 5" */
width: 10px;
height: 7px;

/* Text style for "assine" */
width: 43px;
height: 11px;
color: white;
font-family: Dosis;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;

/* Style for "fundo aberto t" */
width: 0;
height: 0;

/* Style for "TESTES" */
width: 1270px;
height: 160px;

/* Style for "Categorias lat" */
width: 124px;
height: 145px;

/* Text style for "Teste de pista" */
width: 95px;
height: 15px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Longa duração" */
width: 102px;
height: 16px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Impressões" */
width: 77px;
height: 14px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Comparativos" */
width: 95px;
height: 15px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Text style for "Ver tudo de te" */
width: 124px;
height: 12px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 20px;

/* Style for "01" */
width: 201px;
height: 117px;

/* Style for "Layer 2" */
width: 218px;
height: 124px;

/* Text style for "Ford Focus Fas" */
width: 140px;
height: 33px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 20px;

/* Style for "02" */
width: 201px;
height: 117px;

/* Style for "Layer 3" */
width: 286px;
height: 161px;

/* Text style for "Audi A6 2.0 TF" */
width: 109px;
height: 13px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 20px;

/* Style for "03" */
width: 201px;
height: 117px;

/* Style for "Layer 4" */
width: 268px;
height: 150px;

/* Text style for "Ford Focus Tit" */
width: 171px;
height: 32px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 20px;

/* Style for "04" */
width: 201px;
height: 117px;

/* Style for "Layer 5" */
width: 246px;
height: 139px;

/* Text style for "Audi Q3 1.4" */
width: 79px;
height: 14px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 20px;

/* Style for "05" */
width: 201px;
height: 117px;

/* Style for "Layer 6" */
width: 222px;
height: 125px;

/* Text style for "BMW 420i Cabri" */
width: 136px;
height: 13px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 20px;

/* Style for "arrow copy 6" */
width: 7px;
height: 10px;

/* Style for "Rectangle 73 c" */
width: 174px;
height: 151px;
background-color: #474747;

/* Style for "Rectangle 73 c" */
width: 174px;
height: 23px;
background-color: #474747;

/* Style for "Rectangle 73" */
width: 1320px;
height: 2px;
background-color: #ed1c24;

/* Style for "Shape 10 copy" */
width: 91px;
height: 87px;
background-color: #242424;

/* Style for "Rectangle 74" */
width: 1321px;
height: 210px;
background-color: #242424;

/* Style for "fundo aberto c" */
width: 0;
height: 0;

/* Text style for "Ver todos os c" */
width: 132px;
height: 12px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 700;
line-height: 35px;

/* Text style for "Lamborghini
Me" */
width: 106px;
height: 121px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "JAC Motos
Jagu" */
width: 72px;
height: 117px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "Fiat
Ford
Hond" */
width: 56px;
height: 121px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "Chrysler
Chevr" */
width: 67px;
height: 118px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Text style for "Audi
Bentley
B" */
width: 68px;
height: 118px;
color: white;
font-family: Asap;
font-size: 15px;
font-weight: 400;
line-height: 35px;

/* Style for "Layer 7" */
width: 4px;
height: 101px;

/* Style for "Shape 10 copy" */
width: 89px;
height: 87px;
background-color: #242424;

/* Style for "Rectangle 73 c" */
width: 181px;
height: 32px;
background-color: #474747;

/* Style for "Rectangle 73" */
width: 1320px;
height: 2px;
background-color: #ed1c24;

/* Style for "Rectangle 74" */
width: 1321px;
height: 162px;
background-color: #242424;

/* Style for "assine" */
width: 73px;
height: 33px;

/* Style for "botão" */
width: 73px;
height: 33px;

/* Text style for "ASSINE" */
width: 59px;
height: 15px;
color: #ed1c24;
font-family: Dosis;
font-size: 20px;
font-weight: 700;
line-height: 30px;

/* Style for "Shape 9" */
width: 73px;
height: 33px;
background-color: white;

/* Style for "Rectangle 66" */
width: 1320px;
height: 59px;
background-color: #ed1c24;

/* Style for "fundo acompanh" */
width: 1321px;
height: 146px;
background-color: #e6e6e6;